*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    height:100vh;
}

main{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

}

form{
    width:100%;
    height:90px;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #1F2937;
}

#color{
    width: 3.2rem;
    height: 2rem;
    border: 0.5px solid #313131;
    cursor: pointer;

}

form > button{
    width: 8rem;
    height: 2rem;
    border-radius: 0.2rem;
    background-color: #3D4B60;
    color: white;
    cursor: pointer;
}

form > select{
    width: 312px;
    height: 2rem;
    border-radius: 0.2rem;
    background-color: #1F293A;
    color: #D5D4D8;
    cursor: pointer;

}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width:100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #1F2937;
}

.color-img{
    width:100%;
    height:100%;
    display: flex;
    flex-wrap: no-wrap;

}

.color-img > img{
    min-width: 7rem;
    height: 100%;
}